h1.main-title Index
.group-block
  h2.group-title.active Blueup Flashcard
  .content
    .list-heading
      h3.list-title IELTS
    ul.list
      li: p: a(href='../english/ielts/flashcard-ielts-1.html') IELTS 01
      li: p: a(href='../english/ielts/flashcard-ielts-2.html') IELTS 02
      li: p: a(href='../english/ielts/flashcard-ielts-3.html') IELTS 03
      li: p: a(href='../english/ielts/flashcard-ielts-4.html') IELTS 04
      li: p: a(href='../english/ielts/flashcard-ielts-5.html') IELTS 05
      li: p: a(href='../english/ielts/flashcard-ielts-6.html') IELTS 06
      li: p: a(href='../english/ielts/flashcard-ielts-7.html') IELTS 07
      li: p: a(href='../english/ielts/flashcard-ielts-8.html') IELTS 08
      li: p: a(href='../english/ielts/flashcard-ielts-9.html') IELTS 09
      li: p: a(href='../english/ielts/flashcard-ielts-10.html') IELTS 10
      li: p: a(href='../english/ielts/flashcard-ielts-11.html') IELTS 11
    .list-heading
      h3.list-title TOEIC
    ul.list
      li: p: a(href='../english/toeic/flashcard-toeic-1.html') TOEIC 01
      li: p: a(href='../english/toeic/flashcard-toeic-2.html') TOEIC 02
      li: p: a(href='../english/toeic/flashcard-toeic-3.html') TOEIC 03
      li: p: a(href='../english/toeic/flashcard-toeic-4.html') TOEIC 04
      li: p: a(href='../english/toeic/flashcard-toeic-5.html') TOEIC 05
      li: p: a(href='../english/toeic/flashcard-toeic-6.html') TOEIC 06
    .list-heading
      h3.list-title TOEFL
    ul.list
      li: p: a(href='../english/toefl/flashcard-toefl-1.html') TOEFL 01
      li: p: a(href='../english/toefl/flashcard-toefl-2.html') TOEFL 02
      li: p: a(href='../english/toefl/flashcard-toefl-3.html') TOEFL 03
      li: p: a(href='../english/toefl/flashcard-toefl-4.html') TOEFL 04
      li: p: a(href='../english/toefl/flashcard-toefl-5.html') TOEFL 05
      li: p: a(href='../english/toefl/flashcard-toefl-6.html') TOEFL 06
      li: p: a(href='../english/toefl/flashcard-toefl-7.html') TOEFL 07
      li: p: a(href='../english/toefl/flashcard-toefl-8.html') TOEFL 08
      li: p: a(href='../english/toefl/flashcard-toefl-9.html') TOEFL 09
      li: p: a(href='../english/toefl/flashcard-toefl-10.html') TOEFL 10
      li: p: a(href='../english/toefl/flashcard-toefl-11.html') TOEFL 11
      li: p: a(href='../english/toefl/flashcard-toefl-12.html') TOEFL 12
    .list-heading
      h3.list-title Phrasal Verbs
    ul.list
      li: p: a(href='../english/phrasal-verbs/flashcard-phrasal-verbs-1.html') Phrasal Verbs 01
      li: p: a(href='../english/phrasal-verbs/flashcard-phrasal-verbs-2.html') Phrasal Verbs 02
      li: p: a(href='../english/phrasal-verbs/modal-essay.html') Modal essay
      li: p: a(href='../english/phrasal-verbs/phrasal-verbs-in-action.html') Phrasal Verbs in action
.group-block
  h2.group-title.active One shot
  .content
    .list-heading
      h3.list-title ----
    ul.list
      li: p: a(href='../english/others/400-crazy-sentences.html') 400 Crazy Sentences
      li: p: a(href='../effortless-english/') Effortless English
      li: p: a(href='../speak-english-like-an-american/') Speak English Like An American
      li: p: a(href='../Learn-English-Listening/') Learn English Listening
      li: p: a(href='../SYM-1/') Speak your mind 1
      // <li class="full"><p><hr></p></li>
    .list-heading
      h3.list-title Collins
    ul.list
      li: p: a(href='../english/others/Collins-English-for-life-A2.html') Collins English For Life A2
      li: p: a(href='../english/others/Collins-English-for-life-B1.html') Collins English For Life B1
      li: p: a(href='../english/others/Collins-English-for-life-B2.html') Collins English For Life B2
      li: p: a(href='../english/others/Collins-English-for-Business-Speaking.html') Collins English For Business Speaking
      li: p: a(href='../english/others/Collins-IELTS-Speaking.html') Collins IELTS Speaking
      li: p: a(href='../Collins-English-conversation-book-2/') Collins English conversation book 2
    .list-heading
      h3.list-title Oxford
    ul.list
      li: p: a(href='../oxford-read-n-discover') Oxford Read And Discover
      li: p: a(href='../oxford-meeting') Oxford English for Meeting
      li: p: a(href='../oxford-negotiating') Oxford English for Negotiating
      li: p: a(href='../oxford-socializing') Oxford English for Socializing
      li: p: a(href='../oxford-telephoning') Oxford English for Telephoning
