<h1 class="main-title">Index</h1>
<!--<div class="group-block">-->
  <!--<h2 class="group-title active">Blueup Flashcard</h2>-->
  <!--<div class="content">-->
    <!--<div class="list-heading">-->
      <!--<h3 class="list-title">IELTS</h3>-->
    <!--</div>-->
    <!--<ul class="list">-->
      <!--<li>-->
        <!--<p><a href="../english/ielts/flashcard-ielts-1.html">IELTS 01</a></p>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="list-heading">-->
      <!--<h3 class="list-title">TOEIC</h3>-->
    <!--</div>-->
    <!--<ul class="list">-->
      <!--<li>-->
        <!--<p><a href="../english/toeic/flashcard-toeic-1.html">TOEIC 01</a></p>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="list-heading">-->
      <!--<h3 class="list-title">Phrasal Verbs</h3>-->
    <!--</div>-->
    <!--<ul class="list">-->
      <!--<li>-->
        <!--<p><a href="../english/phrasal-verbs/flashcard-phrasal-verbs-1.html">Phrasal Verbs 01</a></p>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
<div class="group-block">
  <h2 class="group-title active">One shot</h2>
  <div class="content">

    <div class="list-heading"><h3 class="list-title">IELTS</h3></div>
    <ul class="list">
      <li><p><a [href]="url.ieltsBasicSpeaking">Basic ielts speaking</a></p></li>
    </ul>

    <!--<div class="list-heading">-->
      <!--<h3 class="list-title">&#45;&#45;&#45;&#45;</h3>-->
    <!--</div>-->
    <!--<ul class="list">-->
      <!--<li>-->
        <!--<p><a href="../english/others/400-crazy-sentences.html">400 Crazy Sentences</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../effortless-english/">Effortless English</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../speak-english-like-an-american/">Speak English Like An American</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../Learn-English-Listening/">Learn English Listening</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../SYM-1/">Speak your mind 1</a></p>-->
      <!--</li>-->
      <!--&lt;!&ndash; <li class="full"><p><hr></p></li>&ndash;&gt;-->
    <!--</ul>-->
    <!--<div class="list-heading">-->
      <!--<h3 class="list-title">Collins</h3>-->
    <!--</div>-->
    <!--<ul class="list">-->
      <!--<li>-->
        <!--<p><a href="../english/others/Collins-English-for-life-A2.html">Collins English For Life A2</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../english/others/Collins-English-for-life-B1.html">Collins English For Life B1</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../english/others/Collins-English-for-life-B2.html">Collins English For Life B2</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../english/others/Collins-English-for-Business-Speaking.html">Collins English For Business Speaking</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../english/others/Collins-IELTS-Speaking.html">Collins IELTS Speaking</a></p>-->
      <!--</li>-->
      <!--<li>-->
        <!--<p><a href="../Collins-English-conversation-book-2/">Collins English conversation book 2</a></p>-->
      <!--</li>-->
    <!--</ul>-->
    <div class="list-heading">
      <h3 class="list-title">Oxford</h3>
    </div>
    <ul class="list">
      <li>
        <p><a [href]="_oxfordURLs.readNDiscover">Oxford Read And Discover</a></p>
      </li>
      <li>
        <p><a [href]="_oxfordURLs.meeting">Oxford English for Meeting</a></p>
      </li>
      <li>
        <p><a [href]="_oxfordURLs.negotiating">Oxford English for Negotiating</a></p>
      </li>
      <li>
        <p><a [href]="_oxfordURLs.socializing">Oxford English for Socializing</a></p>
      </li>
      <li>
        <p><a [href]="_oxfordURLs.telephoning">Oxford English for Telephoning</a></p>
      </li>
    </ul>
  </div>
</div>
