h1 Basic ielts speaking
a.text-dark(href='/')
  i.fas.fa-chevron-circle-left
  |  Back to Index
hr
hr
h2.audio-heading(data-toggle-audio='') Audio Tracks
ul.audio-tracks(data-audio-content='')
  li
    p Track 01
    audio.audio(controls='', loop='', preload='none')
      source(src='audio/01.mp3', type='audio/mp3')
