h1 Basic ielts speaking
a.text-dark(href='/')
  i.fas.fa-chevron-circle-left
  |  Back to Index
hr
hr
h2.audio-heading(data-toggle-audio='') Audio Tracks
ul.audio-tracks(data-audio-content='')
  li
    p Track 01
    audio.audio(controls='', loop='', preload='none')
      source(src='audio/01.mp3', type='audio/mp3')

#toEleForm.to-top-form
  .audio-controls
    span.speed-rate
      | Playing:
      span#playingFile Track 01
    .btn-group(role='group')
      button#stepBackward.btn.btn-secondary.btn-media(type='button')
        i.fas.fa-step-backward
      button#playPauseAudio.btn.btn-secondary.btn-media(type='button')
        i.fa.fa-play
        i.fa.fa-pause
      button#stepForward.btn.btn-secondary.btn-media(type='button')
        i.fas.fa-step-forward
    span.speed-rate
      | Rate:
      span#curSpeed!=curSpeed
    .btn-group(role='group')
      button#btnDecrease.btn.btn-secondary.btn-rate(type='button')
        i.fas.fa-minus
      button#btnIncrease.btn.btn-secondary.btn-rate(type='button')
        i.fas.fa-plus
      button#btnLoop.btn.btn-secondary.btn-rate(type='button')
        i.fas.fa-sync-alt
    .btn-group(role='group')
      button#toTop.btn.btn-secondary.btn-top(type='button')
        i.fas.fa-arrow-up
    form#triggerPlay.btn-group(role='group')
      input#numOfTrack.form-control.num-of-track(type='number')
